# 1. Write a Python program to reverse a string without using any built-in string reversal functions.

In [36]:
def rev(ls):
  a = 0
  n = len(ls)-1
  while a!=n:
    # other condition to be use is if a<n
    if a+1==n:
      break
    else:
      ls[a],ls[n]=ls[n],ls[a]
      a +=1
      n -=1
  return(ls)

ls = ['a','b','c','d','x','m']
print(rev(ls))

['m', 'x', 'c', 'd', 'b', 'a']

In [10]:
ls = ['a','b','c','d','x']
print(rev(ls))

['x', 'd', 'c', 'b', 'a']

# 2. Implement a function to check if a given string is a palindrome.

In [31]:
def palindrome(strng):
   str = ' '.join(char for char in strng)

   return str == str[::-1]

In [34]:
palindrome("121"),palindrome("fwdsg")

(True, False)

In [29]:
def palindrome(st):
  str = st.replace('','').lower()
  a = 0
  l = len(str)-1
  flag = 0
  while(a<l):
    if str[a]!=str[l]:
      flag =1
      break
    a +=1
    l-=1
  if flag == 0:
    print('is Palindrome')
  else:
    print('Not Palindrome')

In [35]:
palindrome('121') , palindrome('alpha')

(True, False)

# 3. Write a program to find the largest element in a given list.

In [38]:
def maxi(ls):
  print(max(ls))

ls = [12.3,45,6,65,768,87]
maxi(ls)

768

In [45]:
def maxo(ls):
  maxz = 0
  for i in range(len(ls)):
    if int(ls[i]) > maxz:
      maxz = int(ls[i])
  return maxz

In [46]:
maxo([12.3,45,6,65,768,87])

768

4. Implement a function to count the occurrence of each element in a list.

In [48]:
def count(ls):
  check =[]
  for val in ls:
    if val not in check:
      check.append(val)
      print(f"{val} occurs {ls.count(val)}")
count([12,22,12,33,22,12,12])

12 occurs 4
22 occurs 2
33 occurs 1

In [49]:
def countz(ls):
  occ = {}
  for ele in ls:
    if ele in occ:
      occ[ele] +=1
    else:
      occ[ele] =1
  return occ
countz([12,22,12,33,22,12,12])

{12: 4, 22: 2, 33: 1}

Write a Python program to find the second largest number in a list.

In [50]:
def maxo(ls):
  max1 , max2 = 0,0
  for i in range(len(ls)):
    if int(ls[i]) > max1:
      max2 = max1
      max1= int(ls[i])
  return max2

maxo([12,43,432,432,432,554,546,667])

554

Implement a function to remove duplicate elements from a list.

In [51]:
def remove_dup(ls):
  new = []
  for val in ls:
    if val not in new:
      new.append(val)
  return new
remove_dup([12,43,432,432,432,554,546,667])

[12, 43, 432, 554, 546, 667]

 Write a program to calculate the factorial of a given number.

In [53]:
def facto(n):
  fact = 1
  if n == 0:
    return 1
  else:
    for i in range(1,n+1):
      fact *= i
  return fact
facto(5)

120

# 8. Implement a function to check if a given number is prime.

In [64]:
def chk_prime(num):
  flag = 0
  for i in range(2, int(num/2)+1):
    if num % i == 0:
      flag =1
      break
  if flag ==1:

    return "num is not prime"
  else:
    return " Num is prime"

In [66]:
chk_prime(121),chk_prime(3),chk_prime(12),chk_prime(11) ,chk_prime(123)

('num is not prime',
 ' Num is prime',
 'num is not prime',
 ' Num is prime',
 ' Num is prime',
 'num is not prime')


9. Write a Python program to sort a list of integers in ascending order.

In [75]:
def sortlst(ls):
  #sortedls = sorted(ls)
  ls.sort()
  return ls
sortlst([23,4,56,4,7,2])

[2, 4, 4, 7, 23, 56]

10. Implement a function to find the sum of all numbers in a list.

In [76]:
def sum_all(ls):
  sum = 0
  for val in ls:
    sum += val
  return sum

sum_all([23,4,56,4,7,2])

96

11. Write a program to find the common elements between two lists.

In [80]:
def com(ls1,ls2):
  ls1 = set(ls1)
  ls2 = set(ls2)
  return ls1 & ls2
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
com(list1,list2)

{4, 5}

In [82]:
def com_2_way(ls1,ls2):
  com_ls = []
  for val in ls1:
    if val in ls2:
      com_ls.append(val)

  return com_ls
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
com_2_way(list1,list2)

[4, 5]

12. Implement a function to check if a given string is an anagram of another string.

In [85]:
def ang(st1,st2):
  st1 = st1.replace(" ","").lower() # remove space if present and make lower case
  st2 = st2.replace(" ","").lower()
  if sorted(st1) == sorted(st2):
    return True
  else:
    return False


string1 = "listen"
string2 = "silent"
ang(string1, string2)

True

In [86]:
string1 = "lien"
string2 = "silent"
ang(string1, string2)

False

13. Write a Python program to generate all permutations of a given string.

In [87]:
def generate_permutations(string):
    if len(string) <= 1:
        return [string]
    permutations = []

    for i in range(len(string)):

        current_char = string[i]

        remaining_chars = string[:i] + string[i+1:]
        sub_permutations = generate_permutations(remaining_chars)

        # Append the current character to each sub-permutation
        for sub_permutation in sub_permutations:
            permutations.append(current_char + sub_permutation)

    return permutations

# Example usage
input_string = "abc"
permutations = generate_permutations(input_string)
print("Permutations of", input_string, "are:")
for permutation in permutations:
    print(permutation)

Permutations of abc are:
abc
acb
bac
bca
cab
cba

14. Implement a function to calculate the Fibonacci sequence up to a given number of terms.

In [103]:
def fib(a,b,limit):
  if limit ==0:
    return
  else:
    c = a+b
    print(c,end=' ')
    fib(b,c,limit-1)

In [104]:
fib(int(input("enter two initial numbers ")), int(input()), int(input('Enter the limit')))

enter two initial numbers 1
1
Enter the limit5
2 3 5 8 13

In [23]:
def Fibonacci(a,b,n,ls):
  if len(ls)==0:
    ls.append(a)
    ls.append(b)
    ls.append(a+b)
    Fibonacci(b,a+b,n-1,ls)
  else:

    if n!=0:
      ls.append(a+b)
      n -= 1
      Fibonacci(b,a+b,n,ls)
  return ls

In [24]:
Fibonacci(1,1,4,[])

[1, 1, 2, 3, 5, 8]

15. Write a program to find the median of a list of numbers.

In [37]:
def med(ls):
  if len(ls)%2==0:
    return (ls[len(ls)//2] + ls[(len(ls)//2)-1])/2
  else:
    return ls[len(ls)//2]

med([1,2,3,4,5,]),med([1,2,3,4,5,23])

(3, 3.5)

16. Implement a function to check if a given list is sorted in non-decreasing order.

In [44]:
def dec(ls):
  for i in range(len(ls)):
    if ls[i]<=ls[i+1] and i+1 < len(ls)-1:
      pass
    else:
      if i+1 == len(ls)-1:
        return True
      else:
        return False
  return True

dec([1,2,3,84,5,5]),dec([1,2,3,4,5,5])

(False, True)

17. Write a Python program to find the intersection of two lists.

In [45]:
def com(ls1,ls2):
  ls1 = set(ls1)
  ls2 = set(ls2)
  return ls1 & ls2
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
com(list1,list2)

{4, 5}

18. Implement a function to find the maximum subarray sum in a given list.

In [46]:
def max_subarray_sum(lst):
    current_sum = lst[0]
    max_sum = lst[0]

    for num in lst[1:]:
        current_sum = max(num, current_sum + num)
        max_sum = max(max_sum, current_sum)

    return max_sum
max_subarray_sum([-2, 1, -3, 4, -1, 2, 1, -5, 4])

6

19. Write a program to remove all vowels from a given string.

In [48]:
def r_vowels(strng):
  vowels =['a','e','i','o','u']
  op =''
  for v in strng:
    if v not in vowels:
      op += v
  return op

r_vowels("awefigo")

'wfg'

20. Implement a function to reverse the order of words in a given sentence.

In [49]:
def reverse_words(sentence):
    words = sentence.split()
    reversed_sentence = ' '.join(reversed(words))
    return reversed_sentence
reverse_words("Implement a function to reverse the order of words in a given sentence.")

'sentence. given a in words of order the reverse to function a Implement'

21. Write a Python program to check if two strings are anagrams of each other.

In [50]:
def ang(st1,st2):

  if sorted(st1) == sorted(st2):
    return True
  else:
    return False


string1 = "listen"
string2 = "silent"
ang(string1, string2)

True

22. Implement a function to find the first non-repeating character in a string.

In [55]:
def non_repeat(strng):
  ck = {}
  for v in strng:
     if v in ck:
      ck[v] += 1
     else:
       ck[v] = 1

  for ele in ck:
    if ck[ele]<2:
      print("first Non-Repeating num is ", ele)
      break
non_repeat('repeating')

first Non-Repeating num is  r

23. Write a program to find the prime factors of a given number.

In [61]:
def prime_factors(n):
    factors = []
    i = 2

    while i * i <= n:
        if n % i:
            i += 1
        else:
            n //= i
            factors.append(i)

    if n > 1:
        factors.append(n)

    return factors
print(prime_factors(89))
print(prime_factors(82),)
print(prime_factors(56))

[89]
[2, 41]
[2, 2, 2, 7]

25. Write a Python program to merge two sorted lists into a single sorted list.

In [103]:
def merge(ls1,ls2):

  sorted_list =[]
  while ls1 and ls2:
      if ls1[0] <  ls2[0]:
          sorted_list.append(ls1.pop(0))
      else:
          sorted_list.append(ls2.pop(0))
  sorted_list += ls1
  sorted_list += ls2
  return sorted_list
l = [1,2,4,6,7,98]
s = [4,8,20, 52 ]
merge(l,s)

[1, 2, 4, 4, 6, 7, 8, 20, 52, 98]

26. Implement a function to find the mode of a list of numbers.

In [105]:
def mode(ls):
  mode = {}
  for ele in ls:
    if ele in mode:
      mode[ele] +=1
    else:
      mode[ele] = 1
  md = 0
  val=0
  for ele in mode:
    if mode[ele]>md:
      val , md = ele,mode[ele]
  return ("mode is " , val)
mode([1,2,332,44,3,3,2,3,2,32,3,2,32,3])

('mode is ', 3)

In [106]:
from collections import Counter

def find_mode(lst):
    counter = Counter(lst)
    max_count = max(counter.values())
    modes = [num for num, count in counter.items() if count == max_count]
    return modes

find_mode([1,2,332,44,3,3,2,3,2,32,3,2,32,3])

[3]

27. Write a program to find the greatest common divisor (GCD) of two numbers.

In [107]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a
gcd(20,12)

4

In [108]:
gcd(36,12)

12

28. Implement a function to calculate the square root of a given number.

In [112]:
def sqrt(num):
  if num<0:
    return "ERROR negative value"
  else:
    return num**0.5
sqrt(int(input("Enter the num ")))

Enter the num -9

'ERROR negative value'

In [113]:
sqrt(int(input("Enter the num ")))

Enter the num 16

4.0

29. Write a Python program to check if a given string is a valid palindrome ignoring non-alphanumeric characters.

In [116]:
import re
def palindrome(strng):

  strng = re.sub(r'[^a-zA-Z0-9]', '', strng).lower()
  print("original one ",strng)
  print("reverse one ",strng[::-1])
  return strng == strng[::-1]

palindrome('A man, a plan, a canal: Panama')

original one  amanaplanacanalpanama
reverse one  amanaplanacanalpanama

True


30. Implement a function to find the minimum element in a rotated sorted list.

In [117]:
def mino(ls):
  for i in range(len(ls)-1):
    if ls[i+1]<ls[i]:
      return ls[i+1]
mino([15, 18, 2, 3, 6, 12])

2

31. Write a program to find the sum of all even numbers in a list.

In [118]:
def sumz(ls):
  return sum(ls)
sumz([15, 18, 2, 3, 6, 12])

56

In [119]:
def sumz(ls):
  sum =0
  for v in ls:
    if type(v) == int or type(v)==float:
      sum +=v
  return sum

In [120]:
sumz([1.2,3,4,5,'r'])

13.2

32. Implement a function to calculate the power of a number using recursion.

In [128]:
def pow(num,pw):
  if pw ==0:
    return 1
  else:
    return num * pow(num,pw-1)
pow(2,4)

16

33. Write a Python program to remove duplicates from a list while preserving the order.

In [132]:
def remove_duplicates(lst):
    unique_list = []

    for item in lst:
        if item not in unique_list:
            unique_list.append(item)

    return unique_list
remove_duplicates([5,2,3,4,3,4,5,6,7,8])

[5, 2, 3, 4, 6, 7, 8]

34. Implement a function to find the longest common prefix among a list of strings.

In [133]:
def longest_common_prefix(strs):
    if not strs:
        return ""

    min_len = min(len(s) for s in strs)

    for i in range(min_len):
        char = strs[0][i]
        if any(s[i] != char for s in strs[1:]):
            return strs[0][:i]

    return strs[0][:min_len]
my_strings = ["flower", "flow", "flight"]
longest_common_prefix(my_strings)

'fl'

35. Write a program to check if a given number is a perfect square.

In [140]:
def perf_sq(num):
  sq = num**0.5
  if sq*sq==num:
    print('is perfect Sq')
  else:
    print("is not perfect Sq")

In [141]:
perf_sq(25)

is perfect Sq

In [142]:
perf_sq(23)

is not perfect Sq

36. Implement a function to calculate the product of all elements in a list.

In [143]:
def pro(ls):
  mul = 1
  for val in ls:
    mul *=val
  return mul
pro([23,4,5,6,7,8,8])

1236480

37. Write a Python program to reverse the order of words in a sentence while preserving the word order.

In [146]:
def reverse_words(sentence):
    words = sentence.split()
    reversed_words = words[::-1]
    reversed_sentence = ' '.join(reversed_words)
    return reversed_sentence
reverse_words('Write a Python program to reverse the order of words in a sentence while preserving the word order')

'order word the preserving while sentence a in words of order the reverse to program Python a Write'

38. Implement a function to find the missing number in a given list of consecutive numbers.

In [147]:
def cons(ls):
  for i in range(len(ls)-1):
    if ls[i]!=ls[i+1]-1:
      print("missing number is ", ls[i]+1)

In [148]:
cons([1, 2, 3, 5, 6, 7, 8])

missing number is  4

39. Write a program to find the sum of digits of a given number.

In [152]:
def s_dig(num):
  sum =0
  while num != 0:
    rem = num%10
    num = num//10

    sum += rem
  return sum
s_dig(12345)

15

40. Implement a function to check if a given string is a valid palindrome considering case sensitivity.

In [163]:
import re
def valid_palind(string):
    string = re.sub(r'[^a-zA-Z]', '', string).lower()# considering only char dtype
    return  string ==  string[::-1]
valid_palind('rad12ar@')

True

41. Write a Python program to find the smallest missing positive integer in a list.

In [166]:
def smlst_missing(ls):
  ls.sort()
  sm = ls[0]
  for val in ls:
    if sm != val-1:
      return ("misssing Num is ", sm+1)
  return ("misssing Num is ", sm-1)
smlst_missing([3, 4, 5, 1])

('misssing Num is ', 2)


42. Implement a function to find the longest palindrome substring in a given string.

In [167]:
def longest_palindrome(s):
    if len(s) < 2:
        return s

    start = 0
    end = 0

    for i in range(len(s)):
        len1 = expand_around_center(s, i, i)
        len2 = expand_around_center(s, i, i + 1)
        max_len = max(len1, len2)

        if max_len > end - start:
            start = i - (max_len - 1) // 2
            end = i + max_len // 2

    return s[start:end + 1]


def expand_around_center(s, left, right):
    while left >= 0 and right < len(s) and s[left] == s[right]:
        left -= 1
        right += 1

    return right - left - 1
my_string = "babad"
longest_palindrome(my_string)

'aba'


43. Write a program to find the number of occurrences of a given element in a list.

In [168]:
def countz(ls):
  occ = {}
  for ele in ls:
    if ele in occ:
      occ[ele] +=1
    else:
      occ[ele] =1
  return occ
countz([12,22,12,33,22,12,12])

{12: 4, 22: 2, 33: 1}

4. Implement a function to check if a given number is a perfect number.

In [169]:
def is_perfect_num(num):
    if num <= 0:
        return False

    divisors_sum = 0
    for i in range(1, num):
        if num % i == 0:
            divisors_sum += i

    return divisors_sum == num
is_perfect_num(28)

True


45. Write a Python program to remove all duplicates from a string.

all ready done above

46. Implement a function to find the first missing positive

In [170]:
def smlst_missing(ls):
  ls.sort()
  sm = ls[0]
  for val in ls:
    if sm != val-1:
      return ("misssing Num is ", sm+1)
smlst_missing([3, 4, 5, 1])

('misssing Num is ', 2)